<a href="https://colab.research.google.com/github/Ayanlola2002/ZENDY/blob/master/Sendy_Zindy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from datetime import datetime
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import date
import os

In [0]:

train=pd.read_csv('/content/Train.csv')

test=pd.read_csv('/content/Test.csv')

Riders=pd.read_csv('/content/Riders.csv')

In [0]:
sample=pd.read_csv('/content/SampleSubmission.csv')

In [936]:
train.tail()

             Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
10853   Order_No_2115  User_Id_1304  ...  Rider_Id_669                       1038.0
10854  Order_No_10285   User_Id_435  ...  Rider_Id_571                       1947.0
10855  Order_No_22435   User_Id_633  ...  Rider_Id_714                        894.0
10856    Order_No_975    User_Id_84  ...  Rider_Id_456                       3250.0
10857  Order_No_14729   User_Id_412  ...           NaN                          NaN

[5 rows x 29 columns]

In [937]:
test.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [938]:
sample.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [939]:
print(train.shape)
print(test.shape)

(10858, 29)
(7068, 25)

In [940]:
train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                float64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                  float64
dtype: object

In [941]:
Riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
Varriable=pd.read_csv('/content/VariableDefinitions.csv')

In [943]:
Varriable.head()

                   Order No                Unique number identifying the order
0                   User Id  Unique number identifying the customer on a pl...
1              Vehicle Type  For this competition limited to bikes, however...
2             Platform Type  Platform used to place the order, there are 4 ...
3      Personal or Business                                      Customer type
4  Placement - Day of Month                  Placement - Day of Month i.e 1-31

In [944]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10858 entries, 0 to 10857
Data columns (total 29 columns):
Order No                                     10858 non-null object
User Id                                      10858 non-null object
Vehicle Type                                 10858 non-null object
Platform Type                                10858 non-null int64
Personal or Business                         10858 non-null object
Placement - Day of Month                     10858 non-null int64
Placement - Weekday (Mo = 1)                 10858 non-null int64
Placement - Time                             10858 non-null object
Confirmation - Day of Month                  10858 non-null int64
Confirmation - Weekday (Mo = 1)              10858 non-null int64
Confirmation - Time                          10858 non-null object
Arrival at Pickup - Day of Month             10858 non-null int64
Arrival at Pickup - Weekday (Mo = 1)         10858 non-null int64
Arrival at Pickup - Time                     10858 non-null object
Pickup - Day of Month                        10858 non-null int64
Pickup - Weekday (Mo = 1)                    10858 non-null int64
Pickup - Time                                10858 non-null object
Arrival at Destination - Day of Month        10858 non-null int64
Arrival at Destination - Weekday (Mo = 1)    10858 non-null int64
Arrival at Destination - Time                10858 non-null object
Distance (KM)                                10857 non-null float64
Temperature                                  8583 non-null float64
Precipitation in millimeters                 280 non-null float64
Pickup Lat                                   10857 non-null float64
Pickup Long                                  10857 non-null float64
Destination Lat                              10857 non-null float64
Destination Long                             10857 non-null float64
Rider Id                                     10857 non-null object
Time from Pickup to Arrival                  10857 non-null float64
dtypes: float64(8), int64(11), object(10)
memory usage: 2.4+ MB

In [945]:
train.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    1
Temperature                                   2275
Precipitation in millimeters                 10578
Pickup Lat                                       1
Pickup Long                                      1
Destination Lat                                  1
Destination Long                                 1
Rider Id                                         1
Time from Pickup to Arrival                      1
dtype: int64

In [0]:
train.dropna(subset=['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','Rider Id','Time from Pickup to Arrival'],inplace=True)
#train.dropna(how='any',inplace=True)

In [947]:
train.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   2274
Precipitation in millimeters                 10577
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [948]:
test.isnull().sum()

Order No                                   0
User Id                                    0
Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Placement - Time                           0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Confirmation - Time                        0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Arrival at Pickup - Time                   0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Pickup - Time                              0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters            6869
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
Rider Id                                   0
dtype: int64

In [949]:
Riders.isnull().sum()

Rider Id          0
No_Of_Orders      0
Age               0
Average_Rating    0
No_of_Ratings     0
dtype: int64

In [950]:
#checking the values in the temperature feature
train['Temperature'].unique()

array([20.4, 26.4,  nan, 19.2, 15.4, 27.2, 20.3, 28.7, 24.6, 16.4, 26.1,
       20.9, 24.4, 19.4, 20.8, 23.3, 18.1, 22.5, 26.5, 27.3, 25.6, 20.5,
       18.8, 16.1, 25.3, 22.3, 26.3, 29.2, 20. , 18. , 21.6, 24.8, 23. ,
       28.1, 14.7, 25. , 26.7, 17.6, 22.7, 23.9, 24.7, 28.2, 19.1, 20.1,
       17.7, 17.3, 21.9, 24.5, 26.9, 18.4, 22. , 25.7, 23.7, 25.8, 16.2,
       31. , 26.2, 28.6, 19.3, 25.2, 24. , 25.5, 23.6, 30.1, 22.8, 27.7,
       21.3, 19.7, 14.5, 30.8, 23.8, 21.7, 24.2, 25.9, 21.2, 18.9, 17.9,
       18.7, 25.4, 22.9, 27.8, 22.6, 18.6, 26. , 21.1, 24.9, 18.5, 15.3,
       27.5, 22.4, 29.6, 19.9, 27.6, 19.8, 20.6, 16.8, 27.4, 24.1, 22.1,
       23.1, 27. , 29.8, 19.6, 21.8, 25.1, 16.9, 30. , 23.5, 23.2, 26.6,
       28.5, 17.8, 30.5, 15.1, 21. , 16. , 26.8, 24.3, 18.3, 27.1, 20.7,
       18.2, 23.4, 14.8, 15.8, 28.4, 21.4, 17.5, 29. , 19.5, 27.9, 22.2,
       28. , 20.2, 29.1, 17.1, 29.9, 15.6, 31.8, 28.3, 30.7, 17.2, 29.7,
       16.7, 19. , 29.3, 30.6, 29.4, 21.5, 16.6, 28.9, 15. , 13.9, 17.4,
       15.2, 30.3, 29.5, 14.4, 13.8, 30.9, 13.4, 28.8, 16.5, 13.3, 15.5,
       31.2, 17. , 16.3, 31.1, 30.4, 30.2, 14. , 14.2, 15.7, 13.5, 14.3,
       31.9, 31.3, 15.9, 13.6, 14.9, 32.1, 14.6, 13.7, 13.2, 31.7])

In [0]:
#trying to remove the null values
train['Temperature'].fillna(train['Temperature'].mean(),inplace=True)
test['Temperature'].fillna(test['Temperature'].mean(),inplace=True)

In [0]:
#trying to remove the null values
train['Precipitation in millimeters'].fillna(train['Precipitation in millimeters'].mean(),inplace=True)
test['Precipitation in millimeters'].fillna(test['Precipitation in millimeters'].mean(),inplace=True)

In [953]:
print("Null values left in the train set:", train.isnull().sum().sum())
print("Null values left in the test set:", test.isnull().sum().sum())

Null values left in the train set: 0
Null values left in the test set: 0

In [0]:
#removing the order Id column  and predictor column
order_id=test['Order No']
y_train=train.iloc[:,-1]

In [955]:
train.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [956]:
test.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [0]:
# let's delete the last column from the dataset to  concat train and test
train = train.drop(['Order No','Time from Pickup to Arrival','User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Arrival at Destination - Day of Month',
              'Arrival at Destination - Weekday (Mo = 1)',
              'Arrival at Destination - Time','Vehicle Type'], axis = 1)

In [0]:
test = test.drop(['User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Order No','Vehicle Type'
              ], axis = 1)

In [959]:
print(train.shape)
print(test.shape)

(10857, 16)
(7068, 16)

In [960]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10857 entries, 0 to 10856
Data columns (total 16 columns):
Platform Type                   10857 non-null int64
Personal or Business            10857 non-null object
Placement - Day of Month        10857 non-null int64
Placement - Weekday (Mo = 1)    10857 non-null int64
Placement - Time                10857 non-null object
Confirmation - Time             10857 non-null object
Arrival at Pickup - Time        10857 non-null object
Pickup - Time                   10857 non-null object
Distance (KM)                   10857 non-null float64
Temperature                     10857 non-null float64
Precipitation in millimeters    10857 non-null float64
Pickup Lat                      10857 non-null float64
Pickup Long                     10857 non-null float64
Destination Lat                 10857 non-null float64
Destination Long                10857 non-null float64
Rider Id                        10857 non-null object
dtypes: float64(7), int64(3), object(6)
memory usage: 1.4+ MB

In [961]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 16 columns):
Platform Type                   7068 non-null int64
Personal or Business            7068 non-null object
Placement - Day of Month        7068 non-null int64
Placement - Weekday (Mo = 1)    7068 non-null int64
Placement - Time                7068 non-null object
Confirmation - Time             7068 non-null object
Arrival at Pickup - Time        7068 non-null object
Pickup - Time                   7068 non-null object
Distance (KM)                   7068 non-null int64
Temperature                     7068 non-null float64
Precipitation in millimeters    7068 non-null float64
Pickup Lat                      7068 non-null float64
Pickup Long                     7068 non-null float64
Destination Lat                 7068 non-null float64
Destination Long                7068 non-null float64
Rider Id                        7068 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 883.6+ KB

In [0]:
#adding other columns based on riders metrics
train=pd.merge(train,Riders,how='left',left_on='Rider Id',right_on='Rider Id')
#adding other columns based on riders metrics to test
test=pd.merge(test,Riders,how='left',left_on='Rider Id',right_on='Rider Id')

In [963]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10857 entries, 0 to 10856
Data columns (total 20 columns):
Platform Type                   10857 non-null int64
Personal or Business            10857 non-null object
Placement - Day of Month        10857 non-null int64
Placement - Weekday (Mo = 1)    10857 non-null int64
Placement - Time                10857 non-null object
Confirmation - Time             10857 non-null object
Arrival at Pickup - Time        10857 non-null object
Pickup - Time                   10857 non-null object
Distance (KM)                   10857 non-null float64
Temperature                     10857 non-null float64
Precipitation in millimeters    10857 non-null float64
Pickup Lat                      10857 non-null float64
Pickup Long                     10857 non-null float64
Destination Lat                 10857 non-null float64
Destination Long                10857 non-null float64
Rider Id                        10857 non-null object
No_Of_Orders                    10857 non-null int64
Age                             10857 non-null int64
Average_Rating                  10857 non-null float64
No_of_Ratings                   10857 non-null int64
dtypes: float64(8), int64(6), object(6)
memory usage: 1.7+ MB

In [0]:
# i need to add the new others to the no_of_orders column,the new age,Average rating,no_of_ratings

In [965]:
train.isnull().sum()

Platform Type                   0
Personal or Business            0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Placement - Time                0
Confirmation - Time             0
Arrival at Pickup - Time        0
Pickup - Time                   0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
Rider Id                        0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
dtype: int64

In [966]:
train.isnull().sum()

Platform Type                   0
Personal or Business            0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Placement - Time                0
Confirmation - Time             0
Arrival at Pickup - Time        0
Pickup - Time                   0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
Rider Id                        0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
dtype: int64

In [0]:
#remove rider_id
train=train.drop(['Rider Id'],axis=1)
test=test.drop(['Rider Id'],axis=1)

In [968]:
#extracting Object datatype
train.select_dtypes(include=['object']).dtypes

Personal or Business        object
Placement - Time            object
Confirmation - Time         object
Arrival at Pickup - Time    object
Pickup - Time               object
dtype: object

In [969]:
train['Personal or Business'].value_counts()

Business    8906
Personal    1951
Name: Personal or Business, dtype: int64

In [0]:
train['Placement - Time']=pd.to_datetime(train['Placement - Time'],format='%I:%M:%S %p')
train['Confirmation - Time']=pd.to_datetime(train['Confirmation - Time'],format='%I:%M:%S %p')
train['Arrival at Pickup - Time']=pd.to_datetime(train['Arrival at Pickup - Time'],format='%I:%M:%S %p')
train['Pickup - Time']=pd.to_datetime(train['Pickup - Time'],format='%I:%M:%S %p')

test['Placement - Time']=pd.to_datetime(test['Placement - Time'],format='%I:%M:%S %p')
test['Confirmation - Time']=pd.to_datetime(test['Confirmation - Time'],format='%I:%M:%S %p')
test['Arrival at Pickup - Time']=pd.to_datetime(test['Arrival at Pickup - Time'],format='%I:%M:%S %p')
test['Pickup - Time']=pd.to_datetime(test['Pickup - Time'],format='%I:%M:%S %p')

In [0]:
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
def Time_Diff(time1,time2):
  return np.timedelta64((time2-time1),'s')/np.timedelta64(1,'s')

In [0]:
#time difference between placement and confirmation
train['P_C_time_diff']=train.apply(lambda x :Time_Diff(x['Placement - Time'],x['Confirmation - Time']),axis=1)
#time difference between placement and arrival at pick up
train['P_A_time_diff']=train.apply(lambda x:Time_Diff(x['Placement - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between placement and  pick up
train['P_P_time_diff']=train.apply(lambda x:Time_Diff(x['Placement - Time'],x['Pickup - Time']),axis=1)
#time difference between confirmation and arrival at pick up
train['C_A_time_diff']=train.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between confirmation and  pick up
train['C_P_time_diff']=train.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Pickup - Time']),axis=1)
#time difference between  arrival at pick up and pick up
train['A_P_time_diff']=train.apply(lambda x:Time_Diff(x['Arrival at Pickup - Time'],x['Pickup - Time']),axis=1)

In [0]:
#time difference between placement and confirmation
test['P_C_time_diff']=test.apply(lambda x :Time_Diff(x['Placement - Time'],x['Confirmation - Time']),axis=1)
#time difference between placement and arrival at pick up
test['P_A_time_diff']=test.apply(lambda x:Time_Diff(x['Placement - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between placement and  pick up
test['P_P_time_diff']=test.apply(lambda x:Time_Diff(x['Placement - Time'],x['Pickup - Time']),axis=1)
#time difference between confirmation and arrival at pick up
test['C_A_time_diff']=test.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between confirmation and  pick up
test['C_P_time_diff']=test.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Pickup - Time']),axis=1)
#time difference between  arrival at pick up and pick up
test['A_P_time_diff']=test.apply(lambda x:Time_Diff(x['Arrival at Pickup - Time'],x['Pickup - Time']),axis=1)

In [974]:
train.head()

   Platform Type Personal or Business  ...  C_P_time_diff  A_P_time_diff
0              3             Business  ...         2840.0         1363.0
1              3             Personal  ...         1248.0          227.0
2              3             Business  ...          619.0          209.0
3              3             Business  ...         1021.0          310.0
4              1             Personal  ...          545.0           90.0

[5 rows x 25 columns]

In [0]:
train=train.drop(['Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time'],axis=1)
test=test.drop(['Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time'],axis=1)

In [0]:
#remove nan values
#train.dropna(subset=['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','No_Of_Orders','Age','Average_Rating','No_of_Ratings'])

In [977]:
#extracting Object datatype
train.select_dtypes(include=['object']).dtypes

Personal or Business    object
dtype: object

In [0]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

train['Personal or Business'] = le.fit_transform(train['Personal or Business'])
test['Personal or Business'] = le.fit_transform(test['Personal or Business'])
train.drop(['Personal or Business'],axis=1,inplace=True)

test.drop(['Personal or Business'],axis=1,inplace=True)

In [979]:

# splitting into train and valid sets

from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(train, y_train, test_size = 0.25, random_state = 0)

# getting the shapes
print("Shape of x_train :", x_train.shape)
print("Shape of x_valid :", x_valid.shape)
print("Shape of y_train :", y_train.shape)
print("Shape of y_valid :", y_valid.shape)

Shape of x_train : (8142, 20)
Shape of x_valid : (2715, 20)
Shape of y_train : (8142,)
Shape of y_valid : (2715,)

In [0]:
#x_valid = sc.transform(x_valid)
#x_test = sc.transform(x_test)

In [0]:
# getting the numerical features
#numerical_features = train.dtypes[train.dtypes != 'object'].index

In [0]:
#numerical_features

In [0]:

#from scipy.stats import skew

# extracting the skewed features
#skewed_features = train[numerical_features].apply(lambda x: skew(x.dropna())).sort_values(ascending = False)

In [0]:
# converting the feautures into a dataframe
#skewness = pd.DataFrame({'skew': skewed_features})

# let's check the skewess in the data
#skewness.head(30)

In [0]:
# applying box-cox transformations

# importing box-cox
#from scipy.special import boxcox1p
#skewness = skewness[abs(skewness > 0.8)]
#print("There are {} skewed features to box-cox transform".format(skewness.shape[0]))


#skewed_features = skewness.index

#lam = 0.15
#for feat in skewed_features:
#    train[feat] += 1
#    train[feat] = boxcox1p(train[feat], lam)
  
#train[skewed_features] = np.log1p(train[skewed_features])

In [0]:
#!git clone https://github.com/datamadness/Automatic-skewness-transformation-for-Pandas-DataFrame.git

In [0]:
#import os
#os.chdir(r"/content/Automatic-skewness-transformation-for-Pandas-DataFrame")
#from Automatic-skewness-transformation-for-Pandas-DataFrame.skew_autotransform import skew_autotransform
#print('directory changed')

In [0]:
#from skew_autotransform import skew_autotransform

In [0]:
#transformedDF = skew_autotransform(numerical_features.copy(deep=True), plot = True, exp = False, threshold = 0.5)

In [0]:
#print('Original average skewness value was %2.2f' %(np.mean(abs(exampleDF.skew()))))
#print('Average skewness after transformation is %2.2f' %(np.mean(abs(transformedDF.skew()))))

In [989]:
train.isnull().sum()

Platform Type                   0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
P_C_time_diff                   0
P_A_time_diff                   0
P_P_time_diff                   0
C_A_time_diff                   0
C_P_time_diff                   0
A_P_time_diff                   0
dtype: int64

In [0]:
# applying standard scaling

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_valid = sc.transform(x_valid)
test = sc.transform(test)

In [991]:
# making a lasso model

from sklearn.linear_model import Lasso
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

lasso = make_pipeline(RobustScaler(), Lasso(alpha = 0.005, random_state = 0))
lasso.fit(x_train, y_train)
y_pred = lasso.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

RMSE : 785.7197754940772

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 470024136.04550266, tolerance: 813608.508653906
  positive)

In [992]:
# making an Elastic Net model

from sklearn.linear_model import ElasticNet

enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.005, l1_ratio=.9, random_state=3))
enet.fit(x_train, y_train)
y_pred = enet.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

RMSE : 785.7269895845477

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2112887823.8150535, tolerance: 813608.508653906
  positive)

In [993]:
from sklearn.ensemble import GradientBoostingRegressor

# making a gradint boosting model
gbr = GradientBoostingRegressor()
gbr.fit(x_train, y_train)
y_pred = gbr.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

RMSE : 769.0127779576219

In [994]:
# light gradient boosting
import lightgbm as lgb

lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)
lgb.fit(x_train, y_train)
y_pred = lgb.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

RMSE : 760.7761160245466

In [0]:
# STACKING
# Simplest model -> Averaging Base Models

from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone

class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)
        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([model.predict(X) for model in self.models_])
        return np.mean(predictions, axis=1)

In [996]:
averaged_models = AveragingModels(models = (enet, gbr, lasso))
averaged_models.fit(x_train, y_train)
y_pred = averaged_models.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2112887823.8150535, tolerance: 813608.508653906
  positive)

RMSE : 774.6079637214731

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 470024136.04550266, tolerance: 813608.508653906
  positive)

In [997]:
# XG BOOST
import xgboost as xgb

xgb = xgb.XGBRegressor()
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:43:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE : 768.2676647629183

In [0]:
# predicting for the test data

xgb_pred = xgb.predict(test)
lgb_pred = lgb.predict(test)
stacked_pred = averaged_models.predict(test)

In [0]:
# boosting the predictions

predictions = stacked_pred*0.70 + xgb_pred*0.15 + lgb_pred*0.15

In [0]:
#Create a  DataFrame with the riders ids and our prediction regarding whether they survived or not

submission = pd.DataFrame({'rider_id': order_id ,'Time from Pickup to Arrival': predictions})

In [1001]:
#Visualize the first 5 rows
submission.head()

         rider_id  Time from Pickup to Arrival
0  Order_No_19248                  1327.154349
1  Order_No_12736                  1308.006257
2    Order_No_768                  1096.314483
3  Order_No_15332                  1138.849930
4  Order_No_21373                  1232.024224

In [1002]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
filename = '/content/submission.csv'

submission.to_csv(filename, index=False)

print('Saved file: ' + filename)

Saved file: /content/submission.csv