<a href="https://colab.research.google.com/github/Ayanlola2002/ZENDY/blob/master/Sendy_Zindy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
train=pd.read_csv('Train.csv')

test=pd.read_csv('Test.csv')

Riders=pd.read_csv('Riders.csv')

In [0]:
sample=pd.read_csv('SampleSubmission.csv')

In [39]:
train.tail()

             Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
21196   Order_No_8834  User_Id_2001  ...  Rider_Id_953                            9
21197  Order_No_22892  User_Id_1796  ...  Rider_Id_155                          770
21198   Order_No_2831  User_Id_2956  ...  Rider_Id_697                         2953
21199   Order_No_6174  User_Id_2524  ...  Rider_Id_347                         1380
21200   Order_No_9836   User_Id_718  ...  Rider_Id_177                         2128

[5 rows x 29 columns]

In [40]:
test.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [41]:
sample.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [42]:
print(train.shape)
print(test.shape)

(21201, 29)
(7068, 25)

In [43]:
train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [44]:
Riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
Varriable=pd.read_csv('/content/VariableDefinitions.csv')

In [46]:
Varriable.head()

                   Order No                Unique number identifying the order
0                   User Id  Unique number identifying the customer on a pl...
1              Vehicle Type  For this competition limited to bikes, however...
2             Platform Type  Platform used to place the order, there are 4 ...
3      Personal or Business                                      Customer type
4  Placement - Day of Month                  Placement - Day of Month i.e 1-31

In [47]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
Order No                                     21201 non-null object
User Id                                      21201 non-null object
Vehicle Type                                 21201 non-null object
Platform Type                                21201 non-null int64
Personal or Business                         21201 non-null object
Placement - Day of Month                     21201 non-null int64
Placement - Weekday (Mo = 1)                 21201 non-null int64
Placement - Time                             21201 non-null object
Confirmation - Day of Month                  21201 non-null int64
Confirmation - Weekday (Mo = 1)              21201 non-null int64
Confirmation - Time                          21201 non-null object
Arrival at Pickup - Day of Month             21201 non-null int64
Arrival at Pickup - Weekday (Mo = 1)         21201 non-null int64
Arrival at Pickup - Time                     21201 non-null object
Pickup - Day of Month                        21201 non-null int64
Pickup - Weekday (Mo = 1)                    21201 non-null int64
Pickup - Time                                21201 non-null object
Arrival at Destination - Day of Month        21201 non-null int64
Arrival at Destination - Weekday (Mo = 1)    21201 non-null int64
Arrival at Destination - Time                21201 non-null object
Distance (KM)                                21201 non-null int64
Temperature                                  16835 non-null float64
Precipitation in millimeters                 552 non-null float64
Pickup Lat                                   21201 non-null float64
Pickup Long                                  21201 non-null float64
Destination Lat                              21201 non-null float64
Destination Long                             21201 non-null float64
Rider Id                                     21201 non-null object
Time from Pickup to Arrival                  21201 non-null int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [48]:
train.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [49]:
test.isnull().sum()

Order No                                   0
User Id                                    0
Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Placement - Time                           0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Confirmation - Time                        0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Arrival at Pickup - Time                   0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Pickup - Time                              0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters            6869
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
Rider Id                                   0
dtype: int64

In [50]:
#checking the values in the temperature feature
train['Temperature'].unique()

array([20.4, 26.4,  nan, 19.2, 15.4, 27.2, 20.3, 28.7, 24.6, 16.4, 26.1,
       20.9, 24.4, 19.4, 20.8, 23.3, 18.1, 22.5, 26.5, 27.3, 25.6, 20.5,
       18.8, 16.1, 25.3, 22.3, 26.3, 29.2, 20. , 18. , 21.6, 24.8, 23. ,
       28.1, 14.7, 25. , 26.7, 17.6, 22.7, 23.9, 24.7, 28.2, 19.1, 20.1,
       17.7, 17.3, 21.9, 24.5, 26.9, 18.4, 22. , 25.7, 23.7, 25.8, 16.2,
       31. , 26.2, 28.6, 19.3, 25.2, 24. , 25.5, 23.6, 30.1, 22.8, 27.7,
       21.3, 19.7, 14.5, 30.8, 23.8, 21.7, 24.2, 25.9, 21.2, 18.9, 17.9,
       18.7, 25.4, 22.9, 27.8, 22.6, 18.6, 26. , 21.1, 24.9, 18.5, 15.3,
       27.5, 22.4, 29.6, 19.9, 27.6, 19.8, 20.6, 16.8, 27.4, 24.1, 22.1,
       23.1, 27. , 29.8, 19.6, 21.8, 25.1, 16.9, 30. , 23.5, 23.2, 26.6,
       28.5, 17.8, 30.5, 15.1, 21. , 16. , 26.8, 24.3, 18.3, 27.1, 20.7,
       18.2, 23.4, 14.8, 15.8, 28.4, 21.4, 17.5, 29. , 19.5, 27.9, 22.2,
       28. , 20.2, 29.1, 17.1, 29.9, 15.6, 31.8, 28.3, 30.7, 17.2, 29.7,
       16.7, 19. , 29.3, 30.6, 29.4, 21.5, 16.6, 28.9, 15. , 13.9, 17.4,
       15.2, 30.3, 29.5, 14.4, 13.8, 30.9, 13.4, 28.8, 16.5, 13.3, 15.5,
       31.2, 17. , 16.3, 31.1, 30.4, 30.2, 14. , 14.2, 15.7, 13.5, 14.3,
       31.9, 31.3, 15.9, 13.6, 14.9, 32.1, 14.6, 13.7, 13.2, 31.7, 14.1,
       32. , 11.2])

In [0]:
#trying to remove the null values
train['Temperature'].fillna(train['Temperature'].mean(),inplace=True)
test['Temperature'].fillna(test['Temperature'].mean(),inplace=True)

In [0]:
#trying to remove the null values
train['Precipitation in millimeters'].fillna(train['Precipitation in millimeters'].mean(),inplace=True)
test['Precipitation in millimeters'].fillna(test['Precipitation in millimeters'].mean(),inplace=True)

In [53]:
print("Null values left in the train set:", train.isnull().sum().sum())
print("Null values left in the test set:", test.isnull().sum().sum())

Null values left in the train set: 0
Null values left in the test set: 0

In [0]:
#removing the order Id column  and predictor column
order_id=test['Order No']
y_train=train.iloc[:,-1]

In [55]:
train.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [56]:
test.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [0]:
# let's delete the last column from the dataset to  concat train and test
train = train.drop(['Order No','Time from Pickup to Arrival','User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Arrival at Destination - Day of Month',
              'Arrival at Destination - Weekday (Mo = 1)',
              'Arrival at Destination - Time','Vehicle Type'], axis = 1)

In [0]:
test = test.drop(['User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Order No','Vehicle Type'
              ], axis = 1)

In [59]:
print(train.shape)
print(test.shape)

(21201, 16)
(7068, 16)

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 16 columns):
Platform Type                   21201 non-null int64
Personal or Business            21201 non-null object
Placement - Day of Month        21201 non-null int64
Placement - Weekday (Mo = 1)    21201 non-null int64
Placement - Time                21201 non-null object
Confirmation - Time             21201 non-null object
Arrival at Pickup - Time        21201 non-null object
Pickup - Time                   21201 non-null object
Distance (KM)                   21201 non-null int64
Temperature                     21201 non-null float64
Precipitation in millimeters    21201 non-null float64
Pickup Lat                      21201 non-null float64
Pickup Long                     21201 non-null float64
Destination Lat                 21201 non-null float64
Destination Long                21201 non-null float64
Rider Id                        21201 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 2.6+ MB

In [61]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 16 columns):
Platform Type                   7068 non-null int64
Personal or Business            7068 non-null object
Placement - Day of Month        7068 non-null int64
Placement - Weekday (Mo = 1)    7068 non-null int64
Placement - Time                7068 non-null object
Confirmation - Time             7068 non-null object
Arrival at Pickup - Time        7068 non-null object
Pickup - Time                   7068 non-null object
Distance (KM)                   7068 non-null int64
Temperature                     7068 non-null float64
Precipitation in millimeters    7068 non-null float64
Pickup Lat                      7068 non-null float64
Pickup Long                     7068 non-null float64
Destination Lat                 7068 non-null float64
Destination Long                7068 non-null float64
Rider Id                        7068 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 883.6+ KB

In [0]:
#adding other columns based on riders metrics
train=pd.merge(train,Riders,how='left',left_on='Rider Id',right_on='Rider Id')
#adding other columns based on riders metrics to test
test=pd.merge(test,Riders,how='left',left_on='Rider Id',right_on='Rider Id')

In [63]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 20 columns):
Platform Type                   21201 non-null int64
Personal or Business            21201 non-null object
Placement - Day of Month        21201 non-null int64
Placement - Weekday (Mo = 1)    21201 non-null int64
Placement - Time                21201 non-null object
Confirmation - Time             21201 non-null object
Arrival at Pickup - Time        21201 non-null object
Pickup - Time                   21201 non-null object
Distance (KM)                   21201 non-null int64
Temperature                     21201 non-null float64
Precipitation in millimeters    21201 non-null float64
Pickup Lat                      21201 non-null float64
Pickup Long                     21201 non-null float64
Destination Lat                 21201 non-null float64
Destination Long                21201 non-null float64
Rider Id                        21201 non-null object
No_Of_Orders                    21201 non-null int64
Age                             21201 non-null int64
Average_Rating                  21201 non-null float64
No_of_Ratings                   21201 non-null int64
dtypes: float64(7), int64(7), object(6)
memory usage: 3.4+ MB

In [0]:
# i need to add the new others to the no_of_orders column,the new age,Average rating,no_of_ratings

In [0]:
#remove rider_id
train=train.drop(['Rider Id'],axis=1)
test=test.drop(['Rider Id'],axis=1)

In [66]:
#extracting Object datatype
train.select_dtypes(include=['object']).dtypes

Personal or Business        object
Placement - Time            object
Confirmation - Time         object
Arrival at Pickup - Time    object
Pickup - Time               object
dtype: object