<a href="https://colab.research.google.com/github/Ayanlola2002/ZENDY/blob/master/Sendy_Zindy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from datetime import datetime
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import date
import os

In [0]:

train=pd.read_csv('/content/Train.csv')

test=pd.read_csv('/content/Test.csv')

Riders=pd.read_csv('/content/Riders.csv')

In [0]:
sample=pd.read_csv('/content/SampleSubmission.csv')

In [376]:
train.tail()

             Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
21196   Order_No_8834  User_Id_2001  ...  Rider_Id_953                            9
21197  Order_No_22892  User_Id_1796  ...  Rider_Id_155                          770
21198   Order_No_2831  User_Id_2956  ...  Rider_Id_697                         2953
21199   Order_No_6174  User_Id_2524  ...  Rider_Id_347                         1380
21200   Order_No_9836   User_Id_718  ...  Rider_Id_177                         2128

[5 rows x 29 columns]

In [377]:
test.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [378]:
sample.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [379]:
print(train.shape)
print(test.shape)

(21201, 29)
(7068, 25)

In [380]:
train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [381]:
Riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
Varriable=pd.read_csv('/content/VariableDefinitions.csv')

In [383]:
Varriable.head()

                   Order No                Unique number identifying the order
0                   User Id  Unique number identifying the customer on a pl...
1              Vehicle Type  For this competition limited to bikes, however...
2             Platform Type  Platform used to place the order, there are 4 ...
3      Personal or Business                                      Customer type
4  Placement - Day of Month                  Placement - Day of Month i.e 1-31

In [384]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
Order No                                     21201 non-null object
User Id                                      21201 non-null object
Vehicle Type                                 21201 non-null object
Platform Type                                21201 non-null int64
Personal or Business                         21201 non-null object
Placement - Day of Month                     21201 non-null int64
Placement - Weekday (Mo = 1)                 21201 non-null int64
Placement - Time                             21201 non-null object
Confirmation - Day of Month                  21201 non-null int64
Confirmation - Weekday (Mo = 1)              21201 non-null int64
Confirmation - Time                          21201 non-null object
Arrival at Pickup - Day of Month             21201 non-null int64
Arrival at Pickup - Weekday (Mo = 1)         21201 non-null int64
Arrival at Pickup - Time                     21201 non-null object
Pickup - Day of Month                        21201 non-null int64
Pickup - Weekday (Mo = 1)                    21201 non-null int64
Pickup - Time                                21201 non-null object
Arrival at Destination - Day of Month        21201 non-null int64
Arrival at Destination - Weekday (Mo = 1)    21201 non-null int64
Arrival at Destination - Time                21201 non-null object
Distance (KM)                                21201 non-null int64
Temperature                                  16835 non-null float64
Precipitation in millimeters                 552 non-null float64
Pickup Lat                                   21201 non-null float64
Pickup Long                                  21201 non-null float64
Destination Lat                              21201 non-null float64
Destination Long                             21201 non-null float64
Rider Id                                     21201 non-null object
Time from Pickup to Arrival                  21201 non-null int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [385]:
train.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [0]:
train.dropna(subset=['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','Rider Id','Time from Pickup to Arrival'],inplace=True)
#train.dropna(how='any',inplace=True)

In [387]:
train.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [388]:
test.isnull().sum()

Order No                                   0
User Id                                    0
Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Placement - Time                           0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Confirmation - Time                        0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Arrival at Pickup - Time                   0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Pickup - Time                              0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters            6869
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
Rider Id                                   0
dtype: int64

In [389]:
Riders.isnull().sum()

Rider Id          0
No_Of_Orders      0
Age               0
Average_Rating    0
No_of_Ratings     0
dtype: int64

In [390]:
#checking the values in the temperature feature
train['Temperature'].unique()

array([20.4, 26.4,  nan, 19.2, 15.4, 27.2, 20.3, 28.7, 24.6, 16.4, 26.1,
       20.9, 24.4, 19.4, 20.8, 23.3, 18.1, 22.5, 26.5, 27.3, 25.6, 20.5,
       18.8, 16.1, 25.3, 22.3, 26.3, 29.2, 20. , 18. , 21.6, 24.8, 23. ,
       28.1, 14.7, 25. , 26.7, 17.6, 22.7, 23.9, 24.7, 28.2, 19.1, 20.1,
       17.7, 17.3, 21.9, 24.5, 26.9, 18.4, 22. , 25.7, 23.7, 25.8, 16.2,
       31. , 26.2, 28.6, 19.3, 25.2, 24. , 25.5, 23.6, 30.1, 22.8, 27.7,
       21.3, 19.7, 14.5, 30.8, 23.8, 21.7, 24.2, 25.9, 21.2, 18.9, 17.9,
       18.7, 25.4, 22.9, 27.8, 22.6, 18.6, 26. , 21.1, 24.9, 18.5, 15.3,
       27.5, 22.4, 29.6, 19.9, 27.6, 19.8, 20.6, 16.8, 27.4, 24.1, 22.1,
       23.1, 27. , 29.8, 19.6, 21.8, 25.1, 16.9, 30. , 23.5, 23.2, 26.6,
       28.5, 17.8, 30.5, 15.1, 21. , 16. , 26.8, 24.3, 18.3, 27.1, 20.7,
       18.2, 23.4, 14.8, 15.8, 28.4, 21.4, 17.5, 29. , 19.5, 27.9, 22.2,
       28. , 20.2, 29.1, 17.1, 29.9, 15.6, 31.8, 28.3, 30.7, 17.2, 29.7,
       16.7, 19. , 29.3, 30.6, 29.4, 21.5, 16.6, 28.9, 15. , 13.9, 17.4,
       15.2, 30.3, 29.5, 14.4, 13.8, 30.9, 13.4, 28.8, 16.5, 13.3, 15.5,
       31.2, 17. , 16.3, 31.1, 30.4, 30.2, 14. , 14.2, 15.7, 13.5, 14.3,
       31.9, 31.3, 15.9, 13.6, 14.9, 32.1, 14.6, 13.7, 13.2, 31.7, 14.1,
       32. , 11.2])

In [0]:
#trying to remove the null values
train['Temperature'].fillna(train['Temperature'].mean(),inplace=True)
test['Temperature'].fillna(test['Temperature'].mean(),inplace=True)

In [0]:
#trying to remove the null values
train['Precipitation in millimeters'].fillna(train['Precipitation in millimeters'].mean(),inplace=True)
test['Precipitation in millimeters'].fillna(test['Precipitation in millimeters'].mean(),inplace=True)

In [393]:
print("Null values left in the train set:", train.isnull().sum().sum())
print("Null values left in the test set:", test.isnull().sum().sum())

Null values left in the train set: 0
Null values left in the test set: 0

In [0]:
#removing the order Id column  and predictor column
order_id=test['Order No']
y_train=train.iloc[:,-1]

In [395]:
train.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [396]:
test.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [0]:
# let's delete the last column from the dataset to  concat train and test
train = train.drop(['Order No','Time from Pickup to Arrival','User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Arrival at Destination - Day of Month',
              'Arrival at Destination - Weekday (Mo = 1)',
              'Arrival at Destination - Time','Vehicle Type'], axis = 1)

In [0]:
test = test.drop(['User Id','Confirmation - Day of Month',
              'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
              'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month',
              'Pickup - Weekday (Mo = 1)',
              'Order No','Vehicle Type'
              ], axis = 1)

In [399]:
print(train.shape)
print(test.shape)

(21201, 16)
(7068, 16)

In [400]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 16 columns):
Platform Type                   21201 non-null int64
Personal or Business            21201 non-null object
Placement - Day of Month        21201 non-null int64
Placement - Weekday (Mo = 1)    21201 non-null int64
Placement - Time                21201 non-null object
Confirmation - Time             21201 non-null object
Arrival at Pickup - Time        21201 non-null object
Pickup - Time                   21201 non-null object
Distance (KM)                   21201 non-null int64
Temperature                     21201 non-null float64
Precipitation in millimeters    21201 non-null float64
Pickup Lat                      21201 non-null float64
Pickup Long                     21201 non-null float64
Destination Lat                 21201 non-null float64
Destination Long                21201 non-null float64
Rider Id                        21201 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 2.7+ MB

In [401]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 16 columns):
Platform Type                   7068 non-null int64
Personal or Business            7068 non-null object
Placement - Day of Month        7068 non-null int64
Placement - Weekday (Mo = 1)    7068 non-null int64
Placement - Time                7068 non-null object
Confirmation - Time             7068 non-null object
Arrival at Pickup - Time        7068 non-null object
Pickup - Time                   7068 non-null object
Distance (KM)                   7068 non-null int64
Temperature                     7068 non-null float64
Precipitation in millimeters    7068 non-null float64
Pickup Lat                      7068 non-null float64
Pickup Long                     7068 non-null float64
Destination Lat                 7068 non-null float64
Destination Long                7068 non-null float64
Rider Id                        7068 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 883.6+ KB

In [0]:
#adding other columns based on riders metrics
train=pd.merge(train,Riders,how='left',left_on='Rider Id',right_on='Rider Id')
#adding other columns based on riders metrics to test
test=pd.merge(test,Riders,how='left',left_on='Rider Id',right_on='Rider Id')

In [403]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 20 columns):
Platform Type                   21201 non-null int64
Personal or Business            21201 non-null object
Placement - Day of Month        21201 non-null int64
Placement - Weekday (Mo = 1)    21201 non-null int64
Placement - Time                21201 non-null object
Confirmation - Time             21201 non-null object
Arrival at Pickup - Time        21201 non-null object
Pickup - Time                   21201 non-null object
Distance (KM)                   21201 non-null int64
Temperature                     21201 non-null float64
Precipitation in millimeters    21201 non-null float64
Pickup Lat                      21201 non-null float64
Pickup Long                     21201 non-null float64
Destination Lat                 21201 non-null float64
Destination Long                21201 non-null float64
Rider Id                        21201 non-null object
No_Of_Orders                    21201 non-null int64
Age                             21201 non-null int64
Average_Rating                  21201 non-null float64
No_of_Ratings                   21201 non-null int64
dtypes: float64(7), int64(7), object(6)
memory usage: 3.4+ MB

In [0]:
# i need to add the new others to the no_of_orders column,the new age,Average rating,no_of_ratings

In [405]:
train.isnull().sum()

Platform Type                   0
Personal or Business            0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Placement - Time                0
Confirmation - Time             0
Arrival at Pickup - Time        0
Pickup - Time                   0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
Rider Id                        0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
dtype: int64

In [406]:
train.isnull().sum()

Platform Type                   0
Personal or Business            0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Placement - Time                0
Confirmation - Time             0
Arrival at Pickup - Time        0
Pickup - Time                   0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
Rider Id                        0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
dtype: int64

In [0]:
#remove rider_id
train=train.drop(['Rider Id'],axis=1)
test=test.drop(['Rider Id'],axis=1)

In [408]:
#extracting Object datatype
train.select_dtypes(include=['object']).dtypes

Personal or Business        object
Placement - Time            object
Confirmation - Time         object
Arrival at Pickup - Time    object
Pickup - Time               object
dtype: object

In [409]:
train['Personal or Business'].value_counts()

Business    17384
Personal     3817
Name: Personal or Business, dtype: int64

In [0]:
train['Placement - Time']=pd.to_datetime(train['Placement - Time'],format='%I:%M:%S %p')
train['Confirmation - Time']=pd.to_datetime(train['Confirmation - Time'],format='%I:%M:%S %p')
train['Arrival at Pickup - Time']=pd.to_datetime(train['Arrival at Pickup - Time'],format='%I:%M:%S %p')
train['Pickup - Time']=pd.to_datetime(train['Pickup - Time'],format='%I:%M:%S %p')

test['Placement - Time']=pd.to_datetime(test['Placement - Time'],format='%I:%M:%S %p')
test['Confirmation - Time']=pd.to_datetime(test['Confirmation - Time'],format='%I:%M:%S %p')
test['Arrival at Pickup - Time']=pd.to_datetime(test['Arrival at Pickup - Time'],format='%I:%M:%S %p')
test['Pickup - Time']=pd.to_datetime(test['Pickup - Time'],format='%I:%M:%S %p')

In [0]:
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
def Time_Diff(time1,time2):
  return np.timedelta64((time2-time1),'s')/np.timedelta64(1,'s')

In [0]:
#time difference between placement and confirmation
train['P_C_time_diff']=train.apply(lambda x :Time_Diff(x['Placement - Time'],x['Confirmation - Time']),axis=1)
#time difference between placement and arrival at pick up
train['P_A_time_diff']=train.apply(lambda x:Time_Diff(x['Placement - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between placement and  pick up
train['P_P_time_diff']=train.apply(lambda x:Time_Diff(x['Placement - Time'],x['Pickup - Time']),axis=1)
#time difference between confirmation and arrival at pick up
train['C_A_time_diff']=train.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between confirmation and  pick up
train['C_P_time_diff']=train.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Pickup - Time']),axis=1)
#time difference between  arrival at pick up and pick up
train['A_P_time_diff']=train.apply(lambda x:Time_Diff(x['Arrival at Pickup - Time'],x['Pickup - Time']),axis=1)

In [0]:
#time difference between placement and confirmation
test['P_C_time_diff']=test.apply(lambda x :Time_Diff(x['Placement - Time'],x['Confirmation - Time']),axis=1)
#time difference between placement and arrival at pick up
test['P_A_time_diff']=test.apply(lambda x:Time_Diff(x['Placement - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between placement and  pick up
test['P_P_time_diff']=test.apply(lambda x:Time_Diff(x['Placement - Time'],x['Pickup - Time']),axis=1)
#time difference between confirmation and arrival at pick up
test['C_A_time_diff']=test.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Arrival at Pickup - Time']),axis=1)
#time difference between confirmation and  pick up
test['C_P_time_diff']=test.apply(lambda x:Time_Diff(x['Confirmation - Time'],x['Pickup - Time']),axis=1)
#time difference between  arrival at pick up and pick up
test['A_P_time_diff']=test.apply(lambda x:Time_Diff(x['Arrival at Pickup - Time'],x['Pickup - Time']),axis=1)

In [414]:
train.head()

   Platform Type Personal or Business  ...  C_P_time_diff  A_P_time_diff
0              3             Business  ...         2840.0         1363.0
1              3             Personal  ...         1248.0          227.0
2              3             Business  ...          619.0          209.0
3              3             Business  ...         1021.0          310.0
4              1             Personal  ...          545.0           90.0

[5 rows x 25 columns]

In [0]:
train=train.drop(['Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time'],axis=1)
test=test.drop(['Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time'],axis=1)

In [0]:
#remove nan values
#train.dropna(subset=['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','No_Of_Orders','Age','Average_Rating','No_of_Ratings'])

In [417]:
#extracting Object datatype
train.select_dtypes(include=['object']).dtypes

Personal or Business    object
dtype: object

In [0]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

train['Personal or Business'] = le.fit_transform(train['Personal or Business'])
test['Personal or Business'] = le.fit_transform(test['Personal or Business'])
train.drop(['Personal or Business'],axis=1,inplace=True)

test.drop(['Personal or Business'],axis=1,inplace=True)

In [419]:

# splitting into train and valid sets

'''from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(train, y_train, test_size = 0.25, random_state = 0)

# getting the shapes
print("Shape of x_train :", x_train.shape)
print("Shape of x_valid :", x_valid.shape)
print("Shape of y_train :", y_train.shape)
print("Shape of y_valid :", y_valid.shape)'''

'from sklearn.model_selection import train_test_split\n\nx_train, x_valid, y_train, y_valid = train_test_split(train, y_train, test_size = 0.25, random_state = 0)\n\n# getting the shapes\nprint("Shape of x_train :", x_train.shape)\nprint("Shape of x_valid :", x_valid.shape)\nprint("Shape of y_train :", y_train.shape)\nprint("Shape of y_valid :", y_valid.shape)'

In [0]:
#x_valid = sc.transform(x_valid)
#x_test = sc.transform(x_test)

In [0]:
# getting the numerical features
#numerical_features = train.dtypes[train.dtypes != 'object'].index

In [0]:
#numerical_features

In [0]:

#from scipy.stats import skew

# extracting the skewed features
#skewed_features = train[numerical_features].apply(lambda x: skew(x.dropna())).sort_values(ascending = False)

In [0]:
# converting the feautures into a dataframe
#skewness = pd.DataFrame({'skew': skewed_features})

# let's check the skewess in the data
#skewness.head(30)

In [0]:
# applying box-cox transformations

# importing box-cox
#from scipy.special import boxcox1p
#skewness = skewness[abs(skewness > 0.8)]
#print("There are {} skewed features to box-cox transform".format(skewness.shape[0]))


#skewed_features = skewness.index

#lam = 0.15
#for feat in skewed_features:
#    train[feat] += 1
#    train[feat] = boxcox1p(train[feat], lam)
  
#train[skewed_features] = np.log1p(train[skewed_features])

In [0]:
#!git clone https://github.com/datamadness/Automatic-skewness-transformation-for-Pandas-DataFrame.git

In [0]:
#import os
#os.chdir(r"/content/Automatic-skewness-transformation-for-Pandas-DataFrame")
#from Automatic-skewness-transformation-for-Pandas-DataFrame.skew_autotransform import skew_autotransform
#print('directory changed')

In [0]:
#from skew_autotransform import skew_autotransform

In [0]:
#transformedDF = skew_autotransform(numerical_features.copy(deep=True), plot = True, exp = False, threshold = 0.5)

In [0]:
#print('Original average skewness value was %2.2f' %(np.mean(abs(exampleDF.skew()))))
#print('Average skewness after transformation is %2.2f' %(np.mean(abs(transformedDF.skew()))))

In [421]:
train.isnull().sum()

Platform Type                   0
Placement - Day of Month        0
Placement - Weekday (Mo = 1)    0
Distance (KM)                   0
Temperature                     0
Precipitation in millimeters    0
Pickup Lat                      0
Pickup Long                     0
Destination Lat                 0
Destination Long                0
No_Of_Orders                    0
Age                             0
Average_Rating                  0
No_of_Ratings                   0
P_C_time_diff                   0
P_A_time_diff                   0
P_P_time_diff                   0
C_A_time_diff                   0
C_P_time_diff                   0
A_P_time_diff                   0
dtype: int64

In [0]:
# applying standard scaling

from sklearn.preprocessing import StandardScaler

'''sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_valid = sc.transform(x_valid)
test = sc.transform(test)'''


sc = StandardScaler()
train = sc.fit_transform(train)
#x_valid = sc.transform(x_valid)
test = sc.transform(test)

In [318]:
# making a lasso model

'''from sklearn.linear_model import Lasso
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

lasso = make_pipeline(RobustScaler(), Lasso(alpha = 0.005, random_state = 0))
lasso.fit(x_train, y_train)
y_pred = lasso.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)'''

'from sklearn.linear_model import Lasso\nfrom sklearn.preprocessing import RobustScaler\nfrom sklearn.pipeline import make_pipeline\nfrom sklearn.metrics import mean_squared_error\n\nlasso = make_pipeline(RobustScaler(), Lasso(alpha = 0.005, random_state = 0))\nlasso.fit(x_train, y_train)\ny_pred = lasso.predict(x_valid)\n\nmse = mean_squared_error(y_valid, y_pred)\nrmse = np.sqrt(mse)\nprint("RMSE :", rmse)'

In [319]:
# making an Elastic Net model

from sklearn.linear_model import ElasticNet

'''enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.005, l1_ratio=.9, random_state=3))
enet.fit(x_train, y_train)
y_pred = enet.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)'''

'enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.005, l1_ratio=.9, random_state=3))\nenet.fit(x_train, y_train)\ny_pred = enet.predict(x_valid)\n\nmse = mean_squared_error(y_valid, y_pred)\nrmse = np.sqrt(mse)\nprint("RMSE :", rmse)'

In [320]:
#from sklearn.ensemble import GradientBoostingRegressor

# making a gradint boosting model
'''gbr = GradientBoostingRegressor()
gbr.fit(x_train, y_train)
y_pred = gbr.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)'''

'gbr = GradientBoostingRegressor()\ngbr.fit(x_train, y_train)\ny_pred = gbr.predict(x_valid)\n\nmse = mean_squared_error(y_valid, y_pred)\nrmse = np.sqrt(mse)\nprint("RMSE :", rmse)'

In [321]:
# light gradient boosting
'''import lightgbm as lgb

lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)
lgb.fit(x_train, y_train)
y_pred = lgb.predict(x_valid)

mse = mean_squared_error(y_valid, y_pred)
rmse = np.sqrt(mse)
print("RMSE :", rmse)'''

'import lightgbm as lgb\n\nlgb = lgb.LGBMRegressor(objective=\'regression\',num_leaves=5,\n                              learning_rate=0.05, n_estimators=720,\n                              max_bin = 55, bagging_fraction = 0.8,\n                              bagging_freq = 5, feature_fraction = 0.2319,\n                              feature_fraction_seed=9, bagging_seed=9,\n                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)\nlgb.fit(x_train, y_train)\ny_pred = lgb.predict(x_valid)\n\nmse = mean_squared_error(y_valid, y_pred)\nrmse = np.sqrt(mse)\nprint("RMSE :", rmse)'

In [322]:
# STACKING
# Simplest model -> Averaging Base Models

'''from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone

class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)
        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([model.predict(X) for model in self.models_])
        return np.mean(predictions, axis=1) '''

'from sklearn.base import BaseEstimator\nfrom sklearn.base import RegressorMixin\nfrom sklearn.base import TransformerMixin\nfrom sklearn.base import clone\n\nclass AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):\n    def __init__(self, models):\n        self.models = models\n        \n    # we define clones of the original models to fit the data in\n    def fit(self, X, y):\n        self.models_ = [clone(x) for x in self.models]\n        \n        # Train cloned base models\n        for model in self.models_:\n            model.fit(X, y)\n        return self\n    \n    #Now we do the predictions for cloned models and average them\n    def predict(self, X):\n        predictions = np.column_stack([model.predict(X) for model in self.models_])\n        return np.mean(predictions, axis=1) '

In [0]:
#averaged_models = AveragingModels(models = (enet, gbr, lasso))
#averaged_models.fit(x_train, y_train)
#y_pred = averaged_models.predict(x_valid)

#mse = mean_squared_error(y_valid, y_pred)
#rmse = np.sqrt(mse)
#print("RMSE :", rmse)

In [0]:
# XG BOOST
#import xgboost as xgb

#xgb = xgb.XGBRegressor()
#xgb.fit(x_train, y_train)
#y_pred = xgb.predict(x_valid)

#mse = mean_squared_error(y_valid, y_pred)
#rmse = np.sqrt(mse)
#print("RMSE :", rmse)

In [0]:
# predicting for the test data

#xgb_pred = xgb.predict(test)
#lgb_pred = lgb.predict(test)
#stacked_pred = averaged_models.predict(test)

In [0]:
# boosting the predictions

#predictions = stacked_pred*0.70 + xgb_pred*0.15 + lgb_pred*0.15

In [0]:
#Create a  DataFrame with the riders ids and our prediction regarding whether they survived or not

#submission = pd.DataFrame({'rider_id': order_id ,'Time from Pickup to Arrival': predictions})

In [0]:
#Visualize the first 5 rows
#submission.head()

In [0]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
#filename = '/content/submission.csv'

#submission.to_csv(filename, index=False)

#print('Saved file: ' + filename)

In [0]:
from sklearn.model_selection import KFold, cross_val_score
n_folds = 5 # number of folds
def get_cv_scores(model, X, y, print_scores=True):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X) # create folds
    rmse = np.sqrt(-cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv = kf)) # get rmse
    if print_scores:
        print(f'Root mean squared error: {rmse.mean():.3f} ({rmse.std():.3f})')
    return [rmse]

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pathlib
from scipy import stats
from scipy.stats import norm, skew

from sklearn.linear_model import Lasso
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

import xgboost as xgb
import lightgbm as lgb

import warnings
warnings.filterwarnings("ignore")

lasso_model = make_pipeline(RobustScaler(), Lasso(alpha=0.0005, random_state=1))
enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.005, l1_ratio=.9, random_state=3))
rf = RandomForestRegressor()
gbr = GradientBoostingRegressor()
xgb_model = xgb.XGBRegressor()
lgb_model = lgb.LGBMRegressor()

In [253]:
for model in [lasso_model, rf, gbr, xgb_model, lgb_model,enet]:
    get_cv_scores(model,x_train, y_train)

Root mean squared error: 777.670 (22.594)
Root mean squared error: 800.209 (26.118)
Root mean squared error: 753.085 (24.172)
[23:01:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:01:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:01:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:01:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:01:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Root mean squared error: 752.220 (23.643)
Root mean squared error: 741.768 (22.718)
Root mean squared error: 777.670 (22.584)

In [167]:
#using Averaging Ensembling
'''from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone
class AveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)
        return self
    
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)'''

'from sklearn.base import BaseEstimator\nfrom sklearn.base import RegressorMixin\nfrom sklearn.base import TransformerMixin\nfrom sklearn.base import clone\nclass AveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):\n    def __init__(self, models):\n        self.models = models\n        \n    def fit(self, X, y):\n        self.models_ = [clone(x) for x in self.models]\n        \n        # Train cloned base models\n        for model in self.models_:\n            model.fit(X, y)\n        return self\n    \n    def predict(self, X):\n        predictions = np.column_stack([\n            model.predict(X) for model in self.models_\n        ])\n        return np.mean(predictions, axis=1)'

In [168]:
%%time
'''averaged_model1 = AveragedModels([gbr, lasso_model, xgb_model,enet,rf,lgb_model])
get_cv_scores(averaged_model1,x_train, y_train)
averaged_model1.fit(x_train,y_train)
AV_y_pred = averaged_model1.predict(x_valid)'''

CPU times: user 5 s, sys: 1e+03 ns, total: 6 s
Wall time: 10 s

'averaged_model1 = AveragedModels([gbr, lasso_model, xgb_model,enet,rf,lgb_model])\nget_cv_scores(averaged_model1,x_train, y_train)\naveraged_model1.fit(x_train,y_train)\nAV_y_pred = averaged_model1.predict(x_valid)'

In [0]:
'''from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone
class WeightedAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models, weights):
        self.models = models
        self.weights = weights
        assert sum(self.weights)==1
        
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)
        return self
    
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.sum(predictions*self.weights, axis=1)'''

In [170]:
'''weighted_average_model = WeightedAveragedModels([lasso_model, rf, gbr, xgb_model, lgb_model,enet], [0.169,0.175,0.163,0.163,0.161,0.169])
get_cv_scores(weighted_average_model, x_train, y_train)'''

[22:19:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[22:19:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[22:19:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[22:19:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[22:19:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Root mean squared error: 751.682 (23.197)

[array([746.50204588, 765.77291658, 788.93061775, 731.07543447,
        726.12794306])]

In [171]:
'''weighted_average_model.fit(x_train,y_train)
weighted_y_pred = averaged_model1.predict(x_valid)'''

[22:20:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
'''weighted_pred = weighted_average_model.predict(test)

In [0]:
#Create a  DataFrame with the riders ids and our prediction regarding whether they survived or not

'''submission2 = pd.DataFrame({'rider_id': order_id ,'Time from Pickup to Arrival':weighted_pred})

In [174]:
'''submission2.head()

         rider_id  Time from Pickup to Arrival
0  Order_No_19248                  1419.987075
1  Order_No_12736                  1415.411993
2    Order_No_768                  1167.081989
3  Order_No_15332                  1147.871346
4  Order_No_21373                  1174.158305

In [175]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
'''filename = '/content/submission2.csv'

submission2.to_csv(filename, index=False)

print('Saved file: ' + filename)'''

Saved file: /content/submission2.csv

In [0]:
'''perf_rmse_scores=[751.682,752.220,741.768,]
total=sum(perf_rmse_scores)
percent_list=[]

for i in range(len(perf_rmse_scores)):
  per= 100* perf_rmse_scores[i]/total
  percent_list.append(per)'''

In [180]:
'''percent_list

[33.472504864917816, 33.49646208035909, 33.03103305472309]

In [0]:
'''predictions2=0.334*weighted_pred +.335 *xgb_pred +.330 * lgb_pred

In [0]:
#Create a  DataFrame with the riders ids and our prediction regarding whether they survived or not

'''submission3 = pd.DataFrame({'rider_id': order_id ,'Time from Pickup to Arrival':predictions2})

In [184]:
'''submission3.head()

         rider_id  Time from Pickup to Arrival
0  Order_No_19248                  1375.951579
1  Order_No_12736                  1484.772113
2    Order_No_768                  1273.637320
3  Order_No_15332                  1191.781734
4  Order_No_21373                  1249.850782

In [186]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
'''filename = '/content/submission3.csv'

submission3.to_csv(filename, index=False)

print('Saved file: ' + filename)'''

Saved file: /content/submission3.csv

In [0]:
from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone


from sklearn.model_selection import train_test_split
class BlendingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, holdout_pct=0.2, use_features_in_secondary=False):
        self.base_models = base_models
        self.meta_model = meta_model
        self.holdout_pct = holdout_pct
        self.use_features_in_secondary = use_features_in_secondary
        
    def fit(self, X, y):
        self.base_models_ = [clone(x) for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        
        X_train, X_holdout, y_train, y_holdout = train_test_split(X, y, test_size=self.holdout_pct)
                
        holdout_predictions = np.zeros((X_holdout.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models_):
            model.fit(X_train, y_train)
            y_pred = model.predict(X_holdout)
            holdout_predictions[:, i] = y_pred
        if self.use_features_in_secondary:
            self.meta_model_.fit(np.hstack((X_holdout, holdout_predictions)), y_holdout)
        else:
            self.meta_model_.fit(holdout_predictions, y_holdout)
            
        return self
    
    def predict(self, X):
        meta_features = np.column_stack([
            model.predict(X) for model in self.base_models_
        ])
        if self.use_features_in_secondary:
            return self.meta_model_.predict(np.hstack((X, meta_features)))
        else:
            return self.meta_model_.predict(meta_features)

In [425]:
Blend_model =BlendingAveragedModels([lasso_model, rf, gbr, xgb_model, lgb_model,enet],lasso_model)
get_cv_scores(Blend_model,train, y_train)

[23:34:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:34:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:34:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:34:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:34:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Root mean squared error: 744.569 (24.300)

[array([785.72704357, 755.98811448, 738.42128434, 723.8597738 ,
        718.85121942])]

In [426]:
Blend_model.fit(train,y_train)
#Blend_y_pred = blend_model.predict(x_valid)

[23:35:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

BlendingAveragedModels(base_models=[Pipeline(memory=None,
                                             steps=[('robustscaler',
                                                     RobustScaler(copy=True,
                                                                  quantile_range=(25.0,
                                                                                  75.0),
                                                                  with_centering=True,
                                                                  with_scaling=True)),
                                                    ('lasso',
                                                     Lasso(alpha=0.0005,
                                                           copy_X=True,
                                                           fit_intercept=True,
                                                           max_iter=1000,
                                                           normalize=False,
                                                           positive=False,
                                                           precompute=False,
                                                           random_state=1,
                                                           selection='cyclic',
                                                           tol=0.0001,
                                                           warm_start=Fal...
                       meta_model=Pipeline(memory=None,
                                           steps=[('robustscaler',
                                                   RobustScaler(copy=True,
                                                                quantile_range=(25.0,
                                                                                75.0),
                                                                with_centering=True,
                                                                with_scaling=True)),
                                                  ('lasso',
                                                   Lasso(alpha=0.0005,
                                                         copy_X=True,
                                                         fit_intercept=True,
                                                         max_iter=1000,
                                                         normalize=False,
                                                         positive=False,
                                                         precompute=False,
                                                         random_state=1,
                                                         selection='cyclic',
                                                         tol=0.0001,
                                                         warm_start=False))],
                                           verbose=False),
                       use_features_in_secondary=False)

In [0]:
Blend_pred =Blend_model.predict(test)

In [0]:
perf_rmse_scores=[751.682,752.220,741.768,744.569]
total=sum(perf_rmse_scores)
percent_list=[]

for i in range(len(perf_rmse_scores)):
  per= 100* perf_rmse_scores[i]/total
  percent_list.append(per)

In [429]:
percent_list

[25.13785687364789, 25.15584874653832, 24.80631146874882, 24.899982911064967]

In [431]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(train, y_train, test_size = 0.25, random_state = 0)

xgb_model.fit(x_train, y_train)
xgb_pred = xgb_model.predict(x_valid)

#lgb_model = lgb.LGBMRegressor()
lgb_model.fit(x_train,y_train)
lgb_pred = lgb_model.predict(x_valid)

xgb_pred = xgb_model.predict(test)
lgb_pred = lgb_model.predict(test)

[23:40:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
predictions_Blend_wavg_xgb_lgb=0.251*weighted_pred +.252 *xgb_pred +.248 * lgb_pred+.249*Blend_pred

In [0]:
#Create a  DataFrame with the riders ids and our prediction regarding whether they survived or not

submission4 = pd.DataFrame({'rider_id': order_id ,'Time from Pickup to Arrival':predictions_Blend_wavg_xgb_lgb})

In [434]:
submission4.head()

         rider_id  Time from Pickup to Arrival
0  Order_No_19248                  1399.149252
1  Order_No_12736                  1479.799359
2    Order_No_768                  1334.655739
3  Order_No_15332                  1198.098891
4  Order_No_21373                  1230.479838

In [436]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
filename = '/content/submission4.csv'

submission4.to_csv(filename, index=False)

print('Saved file: ' + filename)

Saved file: /content/submission4.csv